/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/FunctionPrueba/nbproject/private/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/FunctionPrueba/build/
/OperacionesConCadenas/nbproject/private/
/OperacionesConCadenas/build/
